venv
data
cache
test.py
*.flac
*.wav
*.npy
*.csv
DataPreprocessing/archive
loc1
loc2
loc3
loc4
loc5
loc6
ProcessData.py
toSpikes.py
cuda_12.9.1_575.57.08_linux.run
wget-log
cudnn-local-repo-ubuntu2204-8.9.7.29_1.0-1_amd64.deb
!bg.npy
!car.npy
!cv.npy
node_modules/
build/
dist/
.env
DataPreprocessing/CustomDataset.zip
DataPreprocessing/CustomDatasetRaw.zip
DataPreprocessing/CustomRawDataset/cv/2019-11-19-16-30_Langewiesener-Strasse_50Kmh_1785464_A_D_TL.zip
DataPreprocessing/NEWCustomRawDataset.zip
DataPreprocessing/noisyData.zip
DataPreprocessing/vehicle_segments_CustomDatasetpeak/CustomDatasetRaw.zip
DataPreprocessing/vehicle_segments_CustomDatasetpeak/cv.zip
moreNoise_Model.json
moreNoise_Stats.json
talking_Model.json
talking_Stats.json
